a:hover,
a:active,
a:link,
a:visited {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  width: 100%;
  height: 100%;
  line-height: 1.5;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  text-align: inherit;
}

fieldset,
img {
  border: 0;
}

iframe {
  display: block;
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

del {
  text-decoration: line-through;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: 500;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500;
}

i,
code,
b {
  font-weight: normal;
  font-style: normal;
}

code {
  background: transparent;
}

* {
  list-style: none;
}

html,
body,
.wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.wrap {
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 1.33333rem;
}

.header .list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 0.26667rem;
  font-size: 0.37333rem;
  font-weight: 800;
}

.active {
  color: red;
}

.main {
  width: 100%;
  flex: 1;
}

.main .top {
  width: 100%;
  height: 4rem;
  position: relative;
}

.main .top .swiper-container,
.main .top img {
  width: 100%;
  height: 100%;
}

.main .top .swiper-pagination {
  bottom: 5px;
}

.main .top .swiper-pagination-bullet {
  margin: 0 0.26667rem;
}

.main .bottom-List {
  width: 100%;
}

.main .bottom-List h1 {
  width: 100%;
  height: 1.33333rem;
  font-size: 0.53333rem;
  font-weight: 500;
  line-height: 1.33333rem;
  border-bottom: solid #eee 0.02667rem;
}

.main .bottom-List dl {
  width: 100%;
  height: 2.13333rem;
  display: flex;
  box-sizing: border-box;
  padding: 0.26667rem 0.26667rem;
}

.main .bottom-List dl dt {
  width: 30%;
}

.main .bottom-List dl dt img {
  width: 100%;
}

.main .bottom-List dl dd {
  margin-left: 0.21333rem;
  font-size: 0.42667rem;
}
